<!-- Title -->
  <h1 class="mt-4"><%= @post.title %></h1>

<!-- Author -->
  <p class="lead">
    <%= fa_icon('user-alt', type: :fas) %>
    <%= @post.user.full_name_display %>
  </p>
    <small><strong>Category:</strong> <%= @post.category %></small> <br/>
    <small><strong>Credit/Source:</strong> <%= @post.source %></small> <br/>
    <small><strong>Posted:</strong> <%= @post.created_at.strftime('%B %d, %Y') %></small>
  <hr>

<!-- Social Media Sharing -->
  <%= twitter_button %>

<!-- Date/Time -->
  <hr>

<!-- Preview Image -->
  <% if @post.main_image.present? %>
    <%= image_tag @post.main_image.variant(resize_to_limit: [900, 900]), class: 'img-fluid rounded' %>
  <% else %>
    <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
  <% end %>
  <hr>
