<h1 class="mb-3">Edit Post</h1>

<%= render 'form', post: @post %>

<div class="mt-3">
  <%= fa_icon('hand-point-left', type: :fas) %> <%= link_to 'Back', @post %> |
  <%= fa_icon('home', type: :fas) %> <%= link_to 'Home', posts_path %>
</div>
