<% @posts.each do |post| %>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <article class="blog-card">
        <div class="blog-card__background">
          <div class="card__background--wrapper">
            <div class="card__background--main"><%= image_tag post.main_image %>
              <div class="card__background--layer"></div>
            </div>
          </div>
        </div>
        <div class="blog-card__head">
          <span class="date__box">
          <span class="date__day"><%= post.created_at.strftime('%d') %></span>
          <span class="date__month"><%= post.created_at.strftime('%b') %></span>
          </span>
        </div>
        <div class="blog-card__info">
          <h5><%= post.title %></h5>
          <p>
            <p><%= fa_icon('edit', type: :fas) %> <%= post.user.full_name_display %></p>
          </p>
          <p><%= post.content.truncate(350) %></p>
          <%= link_to 'Read Story', post, class: "btn btn-sm" %>
        </div>
      </article>
    </div>
  </div>
</div>
<% end %>
