<!DOCTYPE html>
<html>
  <head>
    <title>MVP1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
      <a class="navbar-brand" href="#">Logo</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"><a class="nav-link" href="newPage.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
          <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
    </nav>
   <!-- End of navbar -->

    <!-- Start of jumbotron -->
    <div class="jumbotron">
      <div class="container text-center">
        <h1 class="display-4 text-center">MoreAlike</h1>
        <p class="lead text-center">Highlighting our similarities over differences.</p>
        <hr class="my-4">
        <p class="text-center">It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <button type="button" class="btn-btn-primary text-center">Primary</button>
      </div>
    </div>
    <!-- End of jumbotron -->

    <div class="container">
      <%= yield %>
    </div>

    <footer class="page-footer font-small mb-5 mt-5 pt-5">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
